body {
  
}

.portfolio-heading {
  display: inline-block;
  font: bold 4.5em/1.5 Bebas, sans-serif;
  color: #5CA17C; /* non-webkit fallback */
  font-size: 72px;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #26BDA6, #FF9F65, #DED37E, #26BDA6);
  background-size: auto 250%;
  transition: background-position 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 200px;
  background-position: 0 100%;
}

.portfolio-heading:hover {
  background-position: 0 0;
  cursor: pointer;
}
.paragraph-heading {
  display: inline-block;
  font: bold 2em/1.5 Bebas, sans-serif;
  color: #5CA17C;
  font-size: 32px;
  text-transform: none;
  background-image: linear-gradient(to bottom, #26BDA6, #FF9F65, #DED37E, #26BDA6);
  background-size: auto 250%;
  transition: background-position 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 0 100%;
}

.paragraph-heading:hover {
  background-position: 0 0;
  cursor: pointer;
} 
.portfolio-heading {
  display: inline-block;
  font: bold 4.5em/1.5 Bebas, sans-serif;
  color: #5CA17C;
  font-size: 72px;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #26BDA6, #FF9F65, #DED37E, #26BDA6);
  background-size: auto 250%;
  transition: background-position 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 90px;

  background-position: 0 100%;
}

.portfolio-heading:hover {
  background-position: 0 0;
  cursor: pointer;
}
.about-heading {
   display: inline-block;
  font: bold 4.5em/1.5 Bebas, sans-serif;
  color: #5CA17C;
  font-size: 40px;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #26BDA6, #FF9F65, #DED37E, #26BDA6);
  background-size: auto 250%;
  transition: background-position 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 50px;

  background-position: 0 100%;
}
.about-heading:hover {
  background-position: 0 0;
  cursor: pointer;
}